<div class="forget-page">
    <div class="email-form">
        <label for="email" class="email-label">Email Address:</label>
        <input type="email" id="email" name="email" required />

        <button class="email-button" onclick="forgetPass()"> 
            <div style="width: 100%;"> Submit </div> 
        </button>

        <div class="form-footer">
            <p><a href="/auth/login">Back to Login</a></p>
        </div>

        <div class="incoming-email" id="incoming-email" hidden>
            <a id="reset-password-link" href="#">Reset password now!</a>
        </div>
    </div>
</div>