<div class="forget-page">
    <div class="password-form">
        <label for="password" class="password-label">Password:</label>
        <input type="password" id="password" name="password" required />

        <label for="confirm-password" class="password-label">Confirm password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required />

        <button class="password-button" onclick="resetPass()">
            <div style="width: 100%;"> Submit </div>
        </button>

        <div class="form-footer">
            <p><a href="/auth/login">Back to Login</a></p>
        </div>
    </div>
</div>