<li><a href="/views/general/browseCourses.html">Front End</a></li>
<li><a href="/views/general/browseCourses.html">Back End</a></li>
<li><a href="/views/general/browseCourses.html">Data Science</a></li>
<li>
  <a href="/views/general/browseCourses.html">Artificial Intelligence</a>
</li>
<li><a href="/views/general/browseCourses.html">Cyber Security</a></li>
<li><a href="/views/general/browseCourses.html">Software Testing</a></li>

<!-- call API to get all course by category, then change the render content of the browseCourse.html -->
