<footer>
  <footer>
    <nav class="footer-nav">
      <ul>
        <li><a href="/views/general/copyright.html">Copyright</a></li>
        <li><a href="/views/general/ToS.html">Terms of Service</a></li>
        <li><a href="/views/general/privacy.html">Privacy Policy</a></li>
      </ul>
    </nav>
    <p>&copy; 2024 IT Learning. All Rights Reserved.</p>
  </footer>
</footer>
