<!-- Footer -->
<footer
  class="text-center text-lg-start text-white"
  style="background-color: #1c2331",
  id = "default-footer"
>
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-between p-4"
    style="background-color: #6351ce"
  >
    <!-- Left -->
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <div class="flex flex-col lg:flex-row justify-between items-center mb-8">
            <h4 class="text-lg font-semibold text-center lg:text-left mb-6 lg:mb-0">
                Top companies choose ITLearning to build in-demand career skills.
            </h4>
            <div class="company flex justify-center lg:justify-end space-x-6">
                <img src="/img/company.png" alt="Volkswagen" class="h-16 w-16" />
                <img src="/img/company2.svg" alt="Box" class="h-16 w-16" />
                <img src="/img/company1.png" alt="NetApp" class="h-16 w-16" />
            </div>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">
            <a href="copyright">Copyright</a>
          </h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">
            <a href="ToS">Terms of Service</a>
          </h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">
            <a href="privacy">Privacy Policy</a>
          </h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="flex flex-col sm:flex-row justify-between items-center border-t border-gray-700 pt-6">
      <div class="footerLogo flex items-center space-x-4 mb-4 sm:mb-0">
          <img src="/img/Logo.png" alt="Logo" class="h-10 w-10" />
          <span>&copy; 2024 ITLearning. All Rights Reserved.</span>
      </div>
      <div>
          <a href="#" class="hover:underline text-gray-400">Privacy Policy</a>
          <span class="mx-2">|</span>
          <a href="#" class="hover:underline text-gray-400">Terms of Use</a>
      </div>
  </div>
  <!-- Copyright -->

  <!-- source: https://mdbootstrap.com/snippets/standard/mdbootstrap/2885008?view=side -->
</footer>
