<header>
  <nav class="header-primary-nav">
    <div class="logo">
      <a href="/views/general/homepage.html">
        <img src="/img/logo/mockLogo.jpg" alt="IT Learning Logo" />
      </a>
    </div>
    <div>
      <li class="dropdown">
        <a href="#" class="category-dropdown">Course Category</a>
        <ul class="dropdown-content category"></ul>
      </li>
    </div>
    <div class="search-box"></div>
    <div class="cart-icon"></div>
    <div class="account-avatar"></div>
  </nav>

  <nav class="header-secondary-nav">
    <ul>
      <li><a href="/views/general/homepage.html">Home</a></li>
      <li><a href="/views/general/aboutUs.html">About Us</a></li>
      <li><a href="/views/general/pricing.html">Pricing</a></li>
      <li>
        <a href="/views/general/myAccount&Setting.html">My Account</a>
      </li>
      <li class="dropdown">
        <a href="#" class="browse-dropdown">Browse</a>
        <ul class="dropdown-content browse"></ul>
      </li>
      <li><a href="/views/general/faq.html">FAQs</a></li>
      <li><a href="/views/general/contactPage.html">Contact</a></li>
    </ul>
  </nav>
</header>
