.active-tab {
    background-color: rgb(126 34 206);
    color: white;
    border-radius: 10px;
}

.tab:hover {
    background-color: #805ad5;
    color: white;
    border-radius: 10px;
}

.header {
    background-color: rgb(126 34 206);
}

.header h1 {
    color: white;
}

.footer {
    background-color: rgb(126 34 206);
    color: white;
    padding: 1rem;
    text-align: center;
}

.footer a {
    color: #ddd6fe;
}

.footer a:hover {
    color: white;
}