#footer {
    text-align: center;
}

#sidebar {
    transition: width 0.3s ease;
    width: 5rem;
    padding-top: 10px;
}

#sub-sidebar {
    width: 14rem;
    padding-top: 2.5rem;
}

#sub-sidebar li:hover {
    font-weight: 700;
}

#sidebar:hover {
    width: 16rem;
    /* Adjust width as needed */
}

#sidebar .sidebar-logo {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-bottom: 10px;
    transition: padding 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

#sidebar .sidebar-item {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    transition: padding 0.3s ease;
    padding-left: 1rem;
}

#sidebar .sidebar-item .text {
    display: none;
}

#sidebar:hover .sidebar-item .text {
    display: inline;
    margin-left: 0.75rem;
}

#sidebar .sidebar-item:hover {
    padding-left: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.logo {
    width: 47px;
    height: 47px;
}

.icon {
    width: 24px;
    /* Adjust size as needed */
    height: 24px;
    /* Adjust size as needed */
}

#sidebar .sidebar-item.active {
    background-color: rgba(255, 255, 255, 0.2);
    /* Background color */
    color: #e5e7eb;
    /* Light text color */
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

.overview-header {
    padding-bottom: 2rem;
}

.overview-header h1 {
    margin-top: 1rem;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.overview-container {
    border: 1px solid #ccc;
    padding: 0px 20px 20px;
    border-radius: 5px;
}

.overview-cards {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card {
    text-align: center;
}

.card-value {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

.card-label {
    display: block;
    font-size: 1rem;
    margin-top: 5px;
}

.card-subtext {
    display: block;
    color: #999;
    font-size: 0.875rem;
    margin-top: 5px;
}

.chart-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    height: 300px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    background-color: #fafafa;
}

.footer-link {
    text-align: center;
    margin-top: 20px;
    align-items: center;
}

.footer-link a {
    color: #2d2e83;
    text-decoration: none;
}

/* Student page styling */
.student-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-header h2 {
    font-size: 2rem;
}

.student-list {
    margin-top: 20px;
}

.student-list p {
    margin: 0;
    color: #888888;
    font-size: 16px;
    text-align: center;
}

.nav-button {
    border: 2px solid black;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
}

.nav-button a {
    color: black;
    font-weight: 700;
    font-size: 18px;
}

/* Reviews page styling */
.reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-header h2 {
    margin: 0;
}

.reviews-header select {
    padding: 5px;
    font-size: 14px;
}

.reviews-list {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.reviews-list p {
    margin: 0;
    color: #888888;
    font-size: 16px;
    text-align: center;
}