<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>

    <!-- global css for all the pages that use this layout -->
    <link rel="stylesheet" href="/css/globalStyling/global.css" />

    <!-- custom css sheet for specific pages (pass in as param when render as app.js) -->
    <% if (typeof pageStylesheet !== 'undefined') { %>
    <link rel="stylesheet" href="/<%= pageStylesheet %>" />
    <% } %>

    <!-- import library for icons -->
  </head>
  <body>
    <!-- Page content goes here -->

    <!-- Scripts -->
    <% if (typeof pageScript !== 'undefined' && pageScript) { %>
    <%console.log("pageScript") %>
    <script>
      console.log("Page Script:", "<%= pageScript %>");
    </script>
    <script src="/<%= pageScript %>"></script>
    <% } %>

    <!-- Optional JavaScript -->
    <!-- Bootstrap Bundle with Popper -->
  </body>
</html>
