<div class="bg-gray-800 text-white p-5 text-center">
    <div style="text-align: center; margin-bottom: 20px; display:flex;">
        <h4 style="font-weight: 600; padding-right: 20px;">Top companies choose Udemy Business to build in-demand career skills.</h4>
        <div style="margin-top: 20px; display: flex;">
            <img src="nasdaq-logo.png" alt="Nasdaq" style="margin: 0 15px;" />
            <img src="volkswagen-logo.png" alt="Volkswagen" style="margin: 0 15px;" />
            <img src="box-logo.png" alt="Box" style="margin: 0 15px;" />
            <img src="netapp-logo.png" alt="NetApp" style="margin: 0 15px;" />
            <img src="eventbrite-logo.png" alt="Eventbrite" style="margin: 0 15px;" />
        </div>
    </div>

    <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 0 20px;">
        <div>
            <p><a href="#">Teach on ITLearning</a></p>
            <p><a href="#">About us</a></p>
            <p><a href="#">Contact us</a></p>
        </div>
        <div>
            <p><a href="#">Help and Support</a></p>
            <p><a href="#">Affiliate</a></p>
            <p><a href="#">Investors</a></p>
        </div>
        <div>
            <p><a href="#">Terms & Services</a></p>
            <p><a href="#">Privacy policy</a></p>
            <p><a href="#">FAQs</a></p>
        </div>
    </div>
    <div class="flex left">
        <img src="../../public/Logo.png" alt="Logo" width="40px" height="40px">
        <p>&copy; 2024 ITLearning. All Rights Reserved.</p>
    </div>
</div>