section {
  flex: 1 1 calc(50% - 40px);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

image {
  border-radius: 50%;
}

#members-display {
  width: 100%;
}

/* Layout:
Desktop Computers: Multi-column layout.  */
/* tablets/smartphones: Collapsible into a one-or-two-column layout. */
/* For Smartphones (767px or lower) */
@media (max-width: 767px) {
  #members-display {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* For Tablets (768px to 1199px) */

@media (max-width: 1199px) and (min-width: 768px) {
  #members-display {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

/* For Desktop Computers (1200px or higher) */
@media (min-width: 1200px) {
  #members-display {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
