image {
  border-radius: 50%;
}

/* Light grey background for the section */
#avatar-containers {
  background-color: #f0f0f0;
  padding: 30px 0;
}

/* Avatar container styling */
.avatar-container {
  background-color: #fff; /* White background for each card */
  /* border: 2px solid; */
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  transition: box-shadow 0.3s ease;
}

/* Add a slight shadow effect when hovering over avatar containers */
.avatar-container:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Ensure avatars are properly rounded */
.img-circle {
  object-fit: cover;
  border: 2px solid; /* Purple border around the avatar image */
  padding: 3px;
}

/* Layout:
Desktop Computers: Multi-column layout.  */
/* tablets/smartphones: Collapsible into a one-or-two-column layout. */
/* For Smartphones (767px or lower) */
@media (max-width: 767px) {
}

/* For Tablets (768px to 1199px) */

@media (max-width: 1199px) and (min-width: 768px) {
}

/* For Desktop Computers (1200px or higher) */
@media (min-width: 1200px) {
}
