.coursesContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.alphabet-group-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1% 3%;
}
.alphabet-group-title hr {
	width: 100%;
}
.alphabet-group-title p {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0 3%;
	font-size: 200%;
}


.info {
	padding: 0 1%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.info img {
	width: 300px;
}


.group2, .group4 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.group2 {
	padding: 0 1%;
}


@media (max-width: 1199px) {
	.group4 {
		flex-direction: column;
	}
}
@media (max-width: 767px) {
	.group2 {
		flex-direction: column;
	}
	.group4 {
		flex-direction: column;
	}
}