.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.course-card {
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
}

.course-card img {
  width: 100%;
  height: auto;
}

.scrollable-course {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.scrollable-course::-webkit-scrollbar {
  display: none;
}

.scrollable-course .course-card {
  flex: 0 0 20%;
}

h5 {
  font-weight: 700;
  padding-top: 5px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h6 {
  padding-top: 5px;
  font-size: 14px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
