/* .section {
  flex: 1 1 calc(50% - 40px);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #007bff;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.item h3 {
  font-size: 18px;
  margin: 0;
}
.item p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
}
.item a {
  text-decoration: none;
  color: #007bff;
}
.item a:hover {
  text-decoration: underline;
}
.course-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 8px;
} */

/* Layout:
Desktop Computers: Multi-column layout.  */
/* tablets/smartphones: Collapsible into a one-or-two-column layout. */
/* For Smartphones (767px or lower) */
@media (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* For Tablets (768px to 1199px) */

@media (max-width: 1199px) and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

/* For Desktop Computers (1200px or higher) */
@media (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
