/* General Styles */


h1 {
  text-align: center;
  color: #1f2937; /* Dark blue */
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #1f2937; /* Dark blue */
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.form-group input[type="file"] {
  padding: 5px;
}

button:hover {
  background-color: #1f2937; /* Dark blue */
}

input[type="radio"] {
  margin-right: 10px;
}

#instructor-fields .form-group select {
  height: auto;
}

/* Layout:
Desktop Computers: Multi-column layout.  */
/* tablets/smartphones: Collapsible into a one-or-two-column layout. */
/* For Smartphones (767px or lower) */
@media (max-width: 767px) {
}

/* For Tablets (768px to 1199px) */

@media (max-width: 1199px) and (min-width: 768px) {
}

/* For Desktop Computers (1200px or higher) */
@media (min-width: 1200px) {
}
