<section class="bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Our Team</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">
          <!-- this paragraph need to be display with width -->
          Our team consists of five passionate and dedicated members, each
          bringing unique skills and perspectives to the development of the IT
          Learning platform. We are committed to creating a comprehensive online
          learning platform that caters to the needs of learners, instructors,
          and administrators alike.
        </p>

        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>

    <div class="row gy-4 gx-xxl-5 justify-content-center">
      <!-- Team Member 1 -->
      <div class="col-12 col-md-6 col-lg-2">
        <div
          class="card border-0 border-bottom border-primary shadow-sm overflow-hidden"
        >
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img
                class="img-fluid"
                loading="lazy"
                src="img/teamMemberAvatar/DuongAvatar.jpg"
                alt="Duong Duong Avatar"
              />
              <figcaption class="m-0 p-4">
                <h4 class="mb-1">Tran Dang Duong</h4>
                <p class="text-secondary mb-0">Product Manager</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <!-- Team Member 2 -->
      <div class="col-12 col-md-6 col-lg-2">
        <div
          class="card border-0 border-bottom border-primary shadow-sm overflow-hidden"
        >
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img
                class="img-fluid"
                loading="lazy"
                src="img/teamMemberAvatar/DuongAvatar.jpg"
                alt="Cuong Avatar"
              />
              <figcaption class="m-0 p-4">
                <h4 class="mb-1">Cuong Dinh</h4>
                <p class="text-secondary mb-0">Devop Engineer</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <!-- Team Member 3 -->
      <div class="col-12 col-md-6 col-lg-2">
        <div
          class="card border-0 border-bottom border-primary shadow-sm overflow-hidden"
        >
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img
                class="img-fluid"
                loading="lazy"
                src="img/teamMemberAvatar/DuongAvatar.jpg"
                alt="Minh Avatar"
              />
              <figcaption class="m-0 p-4">
                <h4 class="mb-1">Minh Nguyen</h4>
                <p class="text-secondary mb-0">Project Manager</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <!-- Team Member 4 -->
      <div class="col-12 col-md-6 col-lg-2">
        <div
          class="card border-0 border-bottom border-primary shadow-sm overflow-hidden"
        >
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img
                class="img-fluid"
                loading="lazy"
                src="img/teamMemberAvatar/DuongAvatar.jpg"
                alt="Doan Avatar"
              />
              <figcaption class="m-0 p-4">
                <h4 class="mb-1">Doan Nguyen</h4>
                <p class="text-secondary mb-0">Front-end Developer</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <!-- Team Member 5 -->
      <div class="col-12 col-md-6 col-lg-2">
        <div
          class="card border-0 border-bottom border-primary shadow-sm overflow-hidden"
        >
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img
                class="img-fluid"
                loading="lazy"
                src="img/teamMemberAvatar/DuongAvatar.jpg"
                alt="Huy Avatar"
              />
              <figcaption class="m-0 p-4">
                <h4 class="mb-1">Huy Vo</h4>
                <p class="text-secondary mb-0">Backend Developer</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- source: https://bootstrapbrain.com/component/bootstrap-5-team-section-example/ -->
