<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal Example</title>
    <!-- Include Bootstrap CSS -->
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
  </head>
  <body>
    <!-- AVATAR CONTAINERS -->

    <!-- Duong Avatar Container -->
    <div class="container">
      <div class="span3 well text-center">
        <a href="#aboutModal" data-toggle="modal" data-target="#DuongModal">
          <img
            src="img/teamMemberAvatar/DuongAvatar.jpg"
            alt="Duong Avatar"
            name="aboutme"
            width="140"
            height="140"
            class="img-circle"
          />
        </a>
        <h3>Duong Tran</h3>
        <h4>Front-end developer</h4>
        <em>click my avatar for more</em>
      </div>

      <!-- Cuong Avatar Container  -->
      <div class="container">
        <div class="span3 well text-center">
          <a href="#aboutModal" data-toggle="modal" data-target="#CuongModal">
            <img
              src="img/teamMemberAvatar/DuongAvatar.jpg"
              alt="Cuong Avatar"
              name="aboutme"
              width="140"
              height="140"
              class="img-circle"
            />
          </a>
          <h3>Cuong Dinh</h3>
          <h4>Dev Op Engineer</h4>
          <em>click my avatar for more</em>
        </div>

        <!-- Minh Avatar Container  -->
        <div class="container">
          <div class="span3 well text-center">
            <a href="#aboutModal" data-toggle="modal" data-target="#MinhModal">
              <img
                src="img/teamMemberAvatar/DuongAvatar.jpg"
                alt="Minh Avatar"
                name="aboutme"
                width="140"
                height="140"
                class="img-circle"
              />
            </a>
            <h3>Minh Nguyen</h3>
            <h4>Project Manager</h4>
            <em>click my avatar for more</em>
          </div>

          <!-- Doan Avatar Container  -->
          <div class="container">
            <div class="span3 well text-center">
              <a
                href="#aboutModal"
                data-toggle="modal"
                data-target="#DoanModal"
              >
                <img
                  src="img/teamMemberAvatar/DuongAvatar.jpg"
                  alt="Doan Avatar"
                  name="aboutme"
                  width="140"
                  height="140"
                  class="img-circle"
                />
              </a>
              <h3>Doan Nguyen</h3>
              <h4>Front-end developer</h4>
              <em>click my avatar for more</em>
            </div>

            <!-- Huy Avatar Container  -->
            <div class="container">
              <div class="span3 well text-center">
                <a
                  href="#aboutModal"
                  data-toggle="modal"
                  data-target="#HuyModal"
                >
                  <img
                    src="img/teamMemberAvatar/DuongAvatar.jpg"
                    alt="Huy Avatar"
                    name="aboutme"
                    width="140"
                    height="140"
                    class="img-circle"
                  />
                </a>
                <h3>Huy Vo</h3>
                <h4>Back-end Developer</h4>
                <em>click my avatar for more</em>
              </div>

              <!-- MODALS -->

              <!-- Modal for Duong -->
              <div
                class="modal fade"
                id="DuongModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"
                      >
                        &times;
                      </button>
                      <h4 class="modal-title" id="myModalLabel">
                        More About Duong
                      </h4>
                    </div>
                    <div class="modal-body text-center">
                      <img
                        src="img/teamMemberAvatar/DuongAvatar.jpg"
                        alt="Duong Avatar"
                        name="aboutme"
                        width="140"
                        height="140"
                        class="img-circle"
                      />
                      <h3 class="media-heading">
                        Tran Dang Duong <small>Hanoi, Vietnam</small>
                      </h3>
                      <span><strong>Skills: </strong></span>
                      <span class="label label-warning">HTML5/CSS</span>
                      <span class="label label-info">JavaScript</span>
                      <span class="label label-info">EJS</span>
                      <span class="label label-success">NodeJs</span>
                      <hr />
                      <p class="text-left">
                        <strong>Bio: </strong><br />
                        I am dedicated in developing user-friendly UI that helps
                        to build an online learning platform that bring quality
                        education to every people.
                      </p>
                    </div>
                    <div class="modal-footer text-center">
                      <button
                        type="button"
                        class="btn btn-default"
                        data-dismiss="modal"
                      >
                        I've heard enough about Duong
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal for Cuong -->
            <div
              class="modal fade"
              id="CuongModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-hidden="true"
                    >
                      &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                      More About Cuong
                    </h4>
                  </div>
                  <div class="modal-body text-center">
                    <img
                      src="img/teamMemberAvatar/DuongAvatar.jpg"
                      alt="Cuong Avatar"
                      name="aboutme"
                      width="140"
                      height="140"
                      class="img-circle"
                    />
                    <h3 class="media-heading">
                      Cuong Dinh<small>Saigon, Vietnam</small>
                    </h3>
                    <span><strong>Skills: </strong></span>
                    <span class="label label-warning">Dcoker</span>
                    <span class="label label-info">CI/CD</span>
                    <span class="label label-info">Kubernets</span>
                    <span class="label label-success">Unix</span>
                    <hr />
                    <p class="text-left">
                      <strong>Bio: </strong><br />
                      I am deeply interested in operating system and system
                      design, which I would contribute my skills into hosting
                      the website of IT learning to the internet that help our
                      platform reach all learners and instructors around the
                      globe.
                    </p>
                  </div>
                  <div class="modal-footer text-center">
                    <button
                      type="button"
                      class="btn btn-default"
                      data-dismiss="modal"
                    >
                      I've heard enough about Cuong
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal for Minh -->
          <div
            class="modal fade"
            id="MinhModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-hidden="true"
                  >
                    &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">More About Minh</h4>
                </div>
                <div class="modal-body text-center">
                  <img
                    src="img/teamMemberAvatar/DuongAvatar.jpg"
                    alt="Minh Avatar"
                    name="aboutme"
                    width="140"
                    height="140"
                    class="img-circle"
                  />
                  <h3 class="media-heading">
                    Nguyen Anh Minh <small>Saigon, Vietnam</small>
                  </h3>
                  <span><strong>Skills: </strong></span>
                  <span class="label label-warning">Scrum</span>
                  <span class="label label-info">Agile</span>
                  <span class="label label-info">Waterfall</span>
                  <span class="label label-success">Jira</span>
                  <hr />
                  <p class="text-left">
                    <strong>Bio: </strong><br />
                    I am passionate about the fields of management, and I
                    contribute my organization skills to help our platform
                    projects always on track.
                  </p>
                </div>
                <div class="modal-footer text-center">
                  <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                  >
                    I've heard enough about Minh
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for Doan -->
        <div
          class="modal fade"
          id="DoanModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-hidden="true"
                >
                  &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">More About Doan</h4>
              </div>
              <div class="modal-body text-center">
                <img
                  src="img/teamMemberAvatar/DuongAvatar.jpg"
                  alt="Doan Avatar"
                  name="aboutme"
                  width="140"
                  height="140"
                  class="img-circle"
                />
                <h3 class="media-heading">
                  Nguyen Phuc Doan <small>Saigon, Vietnam</small>
                </h3>
                <span><strong>Skills: </strong></span>
                <span class="label label-warning">HTML5/CSS</span>
                <span class="label label-info">BootStrap</span>
                <span class="label label-info">Tailwind</span>
                <span class="label label-success">NodeJs</span>
                <hr />
                <p class="text-left">
                  <strong>Bio: </strong><br />
                  I am an artistic person that love to design beautiful UI that
                  can attract users and make their learning journey on our
                  platform joyful.
                </p>
              </div>
              <div class="modal-footer text-center">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  I've heard enough about Doan
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for Huy -->
      <div
        class="modal fade"
        id="HuyModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
              <h4 class="modal-title" id="myModalLabel">More About Huy</h4>
            </div>
            <div class="modal-body text-center">
              <img
                src="img/teamMemberAvatar/DuongAvatar.jpg"
                alt="Huy Avatar"
                name="aboutme"
                width="140"
                height="140"
                class="img-circle"
              />
              <h3 class="media-heading">
                Huy Vo <small>Saigon, Vietnam</small>
              </h3>
              <span><strong>Skills: </strong></span>
              <span class="label label-warning">TypeScript</span>
              <span class="label label-info">JavaScript</span>
              <span class="label label-info">Express</span>
              <span class="label label-success">NodeJs</span>
              <hr />
              <p class="text-left">
                <strong>Bio: </strong><br />
                I have a strong interest in logic and algorithm as well as
                security measures like authentication and authorization. I
                contribute to the seamless experience and use cases within our
                platform website.
              </p>
            </div>
            <div class="modal-footer text-center">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                I've heard enough about Huy
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Include jQuery (must be loaded before Bootstrap's JS) -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Include Bootstrap JS (load this after jQuery) -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  </body>
</html>

<!-- //then try to make them responseive UI  -->
<!-- replace all placeholder avatars with real members avatars -->
