<div id="coursesContainer">
	<h1><center>Browse Courses By Name</center></h1>

	<div class="alphabet-group" id="a">
		<div class="alphabet-group-title">
			<hr/> <p>A</p> <hr/>
		</div>
	</div>

	<div class="alphabet-group" id="b">
		<div class="alphabet-group-title">
			<hr/> <p>B</p> <hr/>
		</div>
	</div>

	<div class="alphabet-group" id="c">
		<div class="alphabet-group-title">
			<hr/> <p>C</p> <hr/>
		</div>
	</div>	

	<div class="alphabet-group" id="d">
		<div class="alphabet-group-title">
			<hr/> <p>D</p> <hr/>
		</div>
	</div>

	<div class="alphabet-group" id="e">
		<div class="alphabet-group-title">
			<hr/> <p>E</p> <hr/>
		</div>
	</div>

	<div class="alphabet-group" id="f">
		<div class="alphabet-group-title">
			<hr/> <p>F</p> <hr/>
		</div>
	</div>

	<div class="alphabet-group" id="g">
		<div class="alphabet-group-title">
			<hr/> <p>G</p> <hr/>
		</div>
	</div>

	<div class="alphabet-group" id="h">
		<div class="alphabet-group-title">
			<hr />
			<p>H</p>
			<hr />
		</div>
	</div>
	
	<div class="alphabet-group" id="i">
		<div class="alphabet-group-title">
			<hr />
			<p>I</p>
			<hr />
		</div>
	</div>
	
	<div class="alphabet-group" id="j">
		<div class="alphabet-group-title">
			<hr />
			<p>J</p>
			<hr />
		</div>
	</div>
	
	<div class="alphabet-group" id="k">
		<div class="alphabet-group-title">
			<hr />
			<p>K</p>
			<hr />
		</div>
	</div>
	
	<div class="alphabet-group" id="l">
		<div class="alphabet-group-title">
			<hr />
			<p>L</p>
			<hr />
		</div>
	</div>
	
	<div class="alphabet-group" id="m">
		<div class="alphabet-group-title">
			<hr />
			<p>M</p>
			<hr />
		</div>
	</div>
	
	<div class="alphabet-group" id="n">
		<div class="alphabet-group-title">
			<hr />
			<p>N</p>
			<hr />
		</div>
	</div>

	<div class="alphabet-group" id="o">
		<div class="alphabet-group-title">
			<hr />
			<p>O</p>
			<hr />
		</div>
	</div>
	
	<div class="alphabet-group" id="p">
		<div class="alphabet-group-title">
			<hr />
			<p>P</p>
			<hr />
		</div>
	</div>
	
	<div class="alphabet-group" id="q">
		<div class="alphabet-group-title">
			<hr />
			<p>Q</p>
			<hr />
		</div>
	</div>
	
	<div class="alphabet-group" id="r">
		<div class="alphabet-group-title">
			<hr />
			<p>R</p>
			<hr />
		</div>
	</div>
	
	<div class="alphabet-group" id="s">
		<div class="alphabet-group-title">
			<hr />
			<p>S</p>
			<hr />
		</div>
	</div>
	
	<div class="alphabet-group" id="t">
		<div class="alphabet-group-title">
			<hr />
			<p>T</p>
			<hr />
		</div>
	</div>
	
	<div class="alphabet-group" id="u">
		<div class="alphabet-group-title">
			<hr />
			<p>U</p>
			<hr />
		</div>
	</div>

	<div class="alphabet-group" id="v">
		<div class="alphabet-group-title">
			<hr />
			<p>V</p>
			<hr />
		</div>
	</div>

	<div class="alphabet-group" id="w">
		<div class="alphabet-group-title">
			<hr />
			<p>W</p>
			<hr />
		</div>
	</div>

	<div class="alphabet-group" id="x">
		<div class="alphabet-group-title">
			<hr />
			<p>X</p>
			<hr />
		</div>
	</div>

	<div class="alphabet-group" id="y">
		<div class="alphabet-group-title">
			<hr />
			<p>Y</p>
			<hr />
		</div>
	</div>

	<div class="alphabet-group" id="z">
		<div class="alphabet-group-title">
			<hr />
			<p>Z</p>
			<hr />
		</div>
	</div>
</div>