<h1>Front-end Courses</h1>
<div class="container" id="front-end-container"></div>

<h1>Back-end Courses</h1>
<div class="container" id="back-end-container"></div>

<h1>Data Science</h1>
<div class="container" id="data-science-container"></div>

<h1>Artificial Intelligence</h1>
<div class="container" id="AI-container"></div>

<h1>Cyber Security</h1>
<div class="container" id="cyber-security-container"></div>

<h1>Software Testing</h1>
<div class="container" id="testing-container"></div>
