



      <div id="coursesContainer"></div>


    <!-- bootstrap script -->
    <!-- First include jquery js -->
  

    <script>
      console.log("Page Script:", "js/general/homepage.js");
    </script>
  
  </body>
</html>
