<center>
    <h1>Front-end Courses</h1>
</center>

<div class="container" id="fe">
    <div class="slide">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6" id="fe-prev">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>

        <div class="course" id="fe-course">
            <img src="" alt="Lights" id="fe-img">
            <h2 id="fe-name">Front-end Course 1</h2>
            <p id="fe-ins">Some text..</p>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6" id="fe-next">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
    </div>
</div>

<hr />

<center>
    <h1>Back-end Courses</h1>
</center>

<div class="container" id="be">
    <div class="slide">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6" id="be-prev">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>

        <div class="course" id="be-course">
            <img src="" alt="Lights" id="be-img">
            <h2 id="be-name">Front-end Course 1</h2>
            <p id="be-ins">Some text..</p>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6" id="be-next">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
    </div>
</div>

<hr />

<center>
    <h1>Artificial Intelligence Courses</h1>
</center>

<div class="container" id="ai">
    <div class="slide">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6" id="ai-prev">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>

        <div class="course" id="ai-course">
            <img src="" alt="Lights" id="ai-img">
            <h2 id="ai-name">Front-end Course 1</h2>
            <p id="ai-ins">Some text..</p>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6" id="ai-next">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
    </div>
</div>

<hr />

<center>
    <h1>Data Science Courses</h1>
</center>

<div class="container" id="ds">
    <div class="slide">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6" id="ds-prev">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>

        <div class="course" id="ds-course">
            <img src="" alt="Lights" id="ds-img">
            <h2 id="ds-name">Front-end Course 1</h2>
            <p id="ds-ins">Some text..</p>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6" id="ds-next">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
    </div>
</div>

<hr />

<center>
    <h1>Software Testing Courses</h1>
</center>

<div class="container" id="testing">
    <div class="slide">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6" id="testing-prev">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>

        <div class="course" id="testing-course">
            <img src="" alt="Lights" id="testing-img">
            <h2 id="testing-name">Front-end Course 1</h2>
            <p id="testing-ins">Some text..</p>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6" id="testing-next">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
    </div>
</div>

<hr/>

<center><h1>Cyber Security Courses</h1></center>
<div class="container" id="cs">
    <div class="slide">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6" id="cs-prev">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>

        <div class="course" id="cs-course">
            <img src="" alt="Lights" id="cs-img">
            <h2 id="cs-name">Front-end Course 1</h2>
            <p id="cs-ins">Some text..</p>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6" id="cs-next">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
    </div>
</div>