<h1>Copyright</h1>
<p>&copy; 2024 ITLearning . All rights reserved.</p>
<p>
  All content provided on this website, including text, graphics, logos, icons,
  images, audio clips, video clips, and software, is the property of ITLearning
  or its content suppliers and is protected by international copyright laws.
</p>
<p>
  Unauthorized use and/or duplication of this material without express and
  written permission from this site’s author and/or owner is strictly
  prohibited. Excerpts and links may be used, provided that full and clear
  credit is given to ITLearning with appropriate and specific direction to the
  original content.
</p>
