<!-- Section: FAQ -->
<section class="main-section">
  <h1 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h1>
  <p class="text-center mb-5">
    Find the answers to the most frequently asked questions below
  </p>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h2 class="question mb-3 text-primary">Can I see my past transactions and payment?</h2>
      <p>
        <strong><u>Absolutely!</u></strong> We work with top payment companies
        which guarantees your safety and security. All billing information is
        stored in "My Past Transaction".
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h2 class="question mb-3 text-primary">Can I cancel my subscription anytime?</h2>
      <p>
        <strong><u>Yes, it is possible!</u></strong> You can cancel your
        subscription anytime in your account. Once the subscription is
        cancelled, you will not be charged next month.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h2 class=" question mb-3 text-primary">Which type of currency can I use to pay?</h2>
      <p>Currently, we only accept VND and USD.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h2 class="question mb-3 text-primary">Can I change my plan anytime?</h2>
      <p>
        Yes. Go to the planning section of your dashboard and update your
        payment information.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h2 class="question mb-3 text-primary">Can I have refunds?</h2>
      <p>
        <strong><u>Unfortunately no</u>.</strong> We do not issue full or
        partial refunds for any reason.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h2 class="question mb-3 text-primary">Can I have a free trial plan?</h2>
      <p>
        Of course! We’re happy to offer a free plan to anyone who wants to try
        our service.
      </p>
    </div>
  </div>
</section>
