<!-- Featured Instructors Section -->
<div class="section" id="new-instructors">
  <h1>Featured Instructors</h1>
  <div id="featured-instructor-list">
    <!-- Static content for existing instructors -->
    <div class="item">
      <img src="instructor1.jpg" alt="Instructor 1" />
      <div>
        <h3><a href="#">Instructor 1</a></h3>
        <p>Specialization: Front-End Development</p>
      </div>
    </div>
    <div class="item">
      <img src="instructor2.jpg" alt="Instructor 2" />
      <div>
        <h3><a href="#">Instructor 2</a></h3>
        <p>Specialization: AI & Machine Learning</p>
      </div>
    </div>
  </div>

  <!-- This is where dynamically fetched new instructors will be inserted -->
  <h1>New Instructors</h1>
  <div id="new-instructor-list">
    <!-- New instructors will be dynamically rendered here -->
  </div>
</div>
<!-- New Courses Section -->
<div class="section" id="new-courses">
  <h1>Featured Courses</h1>

  <!-- Static content for existing courses -->
  <div id="featured-course-list">
    <div class="item">
      <img src="course1.jpg" alt="Course 1" class="course-img" />
      <div>
        <h3><a href="#">Intro to JavaScript</a></h3>
        <p>By <a href="#">Instructor 1</a> - $49</p>
      </div>
    </div>
    <div class="item">
      <img src="course2.jpg" alt="Course 2" class="course-img" />
      <div>
        <h3><a href="#">Deep Learning Basics</a></h3>
        <p>By <a href="#">Instructor 2</a> - $99</p>
      </div>
    </div>
  </div>

  <!-- This is where dynamically fetched new courses will be inserted -->
  <h1>New Courses</h1>
  <div id="new-courses-list">
    <!-- New courses will be dynamically rendered here -->
  </div>
</div>
