<!-- Existing sections -->
<div class="container">
  <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 700; font-size: 24px; margin-bottom: 10px;">Top Instructors</h1>
  <div class="scrollable-course" id="top-instructor-list">
    <!-- Top Instructors content here -->
  </div>
  <!-- Featured Instructors Section -->
  <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 700; font-size: 24px; margin-bottom: 10px;">Featured Instructors</h1>
  <div class="scrollable-course" id="featured-instructor-list">
    <!-- Featured Instructors content here -->
  </div>
  <!-- New Instructors Section -->
  <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 700; font-size: 24px; margin-bottom: 10px;">New Instructors</h1>
  <div class="scrollable-course" id="new-instructor-list">
    <!-- New Instructors content here -->
  </div>
  <-- Courses Section -->
  <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 700; font-size: 24px; margin-bottom: 10px;">Top Courses</h1>
  <div class="scrollable-course" id="top-course-list">
    <!-- Top Courses content here -->
  </div>
  <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 700; font-size: 24px; margin-bottom: 10px;">Featured Courses</h1>
  <div class="scrollable-course" id="featured-course-list">
    <!-- Featured Courses content here -->
  </div>
  <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 700; font-size: 24px; margin-bottom: 10px;">New Courses</h1>
  <div  class="scrollable-course" id="new-courses-list">
    <!-- New Courses content here -->
  </div>
</div>
