<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<div class="flex flex-col h-full	">

  <!-- Profile Section -->
  <main class="flex p-8 justify-center h-full items-center">
    <div class="bg-white rounded-lg shadow-lg p-6 w-3/5">
      <header class="flex justify-between items-center border-b pb-4 mb-6">
        <h1 class="text-4xl font-semibold">Profile</h1>
        <button class="bg-purple-700 text-white px-6 py-2 rounded text-xl hover:bg-purple-800 transition"
          onclick="redirectToUpdate()">
          Update Profile
        </button>
      </header>

      <div class="flex items-center space-x-8s">
        <img src="" alt="Learner profile image" id="image"
          class="w-32 h-32 rounded-full object-cover bg-gray-300">
        <div class="space-y-4">
          <div class="grid grid-cols-2 gap-4">
            <div class="text-right font-medium text-2xl">First name:</div>
            <div id="first_name" class="text-2xl text-gray-600">First name</div>
            <div class="text-right font-medium text-2xl">Last name:</div>
            <div id="last_name" class="text-2xl text-gray-600">Last name</div>
            <div class="text-right font-medium text-2xl">Email:</div>
            <div id="email" class="text-2xl text-gray-600">Email</div>
            <div class="text-right font-medium text-2xl">Address:</div>
            <div id="address" class="text-2xl text-gray-600">Address</div>
            <div class="text-right font-medium text-2xl">City:</div>
            <div id="city" class="text-2xl text-gray-600">City</div>
            <div class="text-right font-medium text-2xl">Country:</div>
            <div id="country" class="text-2xl text-gray-600">Country</div>
            <div class="text-right font-medium text-2xl">Zipcode:</div>
            <div id="zipcode" class="text-2xl text-gray-600">Zipcode</div>
            <div class="text-right font-medium text-2xl">Phone:</div>
            <div id="phone" class="text-2xl text-gray-600">Phone</div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
