<div class="container">
  <h1>Instructor's Membership Plans and Pricing</h1>
  <p>You can always change your plan later on or cancel anytime</p>

  <div class="freq-btns">
    <div class="billing-toggle">
      <button class="active" id="monthly-btn">Monthly</button>
    </div>
    
    <div class="billing-toggle">
      <button class="inactive" id="yearly-btn">Yearly</button>
    </div>
  </div>
  

  <div class="pricing-cards" id="monthly">
    <div class="card">
      <h2>Basic</h2>
      <h3>$0</h3>
      <p>It is free and always free!</p>
      <ul>
        <li>Can sell at most 1 courses</li>
        <li>High commission fee rate: 20%</li>
      </ul>
      <button>Get started with basic plan!</button>
    </div>

    <div class="card popular">
      <h2>Saving</h2>
      <h3>$20</h3>
      <p>Per user/month</p>
      <ul>
        <li>Can sell at most 10 courses</li>
        <li>Medium commission fee rate: 10%</li>
      </ul>
      <button>Get started with Saving plan!</button>
    </div>

    <div class="card">
      <h2>Premium</h2>
      <h3>$50</h3>
      <p>Per user/month</p>
      <ul>
        <li>Can sell at most 20 courses</li>
        <li>Low commission fee rate: 5%</li>
      </ul>
      <button>Get started with Premium plan!</button>
    </div>
  </div>

  <div class="pricing-cards" id="yearly" hidden>
    <div class="card">
      <h2>Basic</h2>
      <h3>$0</h3>
      <p>It is free and always free!</p>
      <ul>
        <li>Can sell at most 1 courses</li>
        <li>High commission fee rate: 20%</li>
      </ul>
      <button>Get started with basic plan!</button>
    </div>
  
    <div class="card popular">
      <h2>Saving</h2>
      <h3>$200</h3>
      <p>Per user/year</p>
      <ul>
        <li>Can sell at most 10 courses</li>
        <li>Medium commission fee rate: 10%</li>
      </ul>
      <button>Get started with Saving plan!</button>
    </div>
  
    <div class="card">
      <h2>Premium</h2>
      <h3>$500</h3>
      <p>Per user/year</p>
      <ul>
        <li>Can sell at most 20 courses</li>
        <li>Low commission fee rate: 5%</li>
      </ul>
      <button>Get started with Premium plan!</button>
    </div>
  </div>
</div>


