<style>
  /* Default for desktop: Label and checkbox on the same row */
  .checkbox-div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .checkbox-div label {
    margin-right: 10px;
    font-size: 1rem;
  }

  .checkbox-div input[type="checkbox"] {
    margin: 0;
  }

  /* Media query for tablets and smartphones */
  @media (max-width: 1199px) {
    .checkbox-div {
      display: block;
    }

    .checkbox-div label,
    .checkbox-div input[type="checkbox"] {
      display: block;
      margin-bottom: 5px;
    }
  }
</style>
<form>
  <div class="checkbox-div">
    <label for="monday">Monday</label>
    <input type="checkbox" id="monday" name="days" value="monday" />
  </div>

  <div class="checkbox-div">
    <label for="tuesday">Tuesday</label>
    <input type="checkbox" id="tuesday" name="days" value="tuesday" />
  </div>

  <div class="checkbox-div">
    <label for="wednesday">Wednesday</label>
    <input type="checkbox" id="wednesday" name="days" value="wednesday" />
  </div>

  <div class="checkbox-div">
    <label for="thursday">Thursday</label>
    <input type="checkbox" id="thursday" name="days" value="thursday" />
  </div>

  <div class="checkbox-div">
    <label for="friday">Friday</label>
    <input type="checkbox" id="friday" name="days" value="friday" />
  </div>

  <div class="checkbox-div">
    <label for="saturday">Saturday</label>
    <input type="checkbox" id="saturday" name="days" value="saturday" />
  </div>

  <div class="checkbox-div">
    <label for="sunday">Sunday</label>
    <input type="checkbox" id="sunday" name="days" value="sunday" />
  </div>
</form>
