<li><a href="/views/general/browseCourses.html">Browse Courses by Name</a></li>
<li>
  <a href="/views/general/browseCourses.html">Browse Courses by Category</a>
</li>
<li><a href="/views/general/browseInstructors.html">Browse Instructors</a></li>
