<!-- <div class="container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Manage Courses</a></li>
        <li><a href="#">Dashboard</a></li>
      </ul>
    </nav>
  </aside>

  <main class="profile-content">
    <div class="profile-header">
      <h1>Profile</h1>
      <button class="btn-update">Update profile</button>
    </div>

    <div class="profile-details">
      <img
        src="path_to_default_avatar_image.png"
        alt="Profile Picture"
        class="profile-img"
      />
      <div class="profile-info">
        <p><strong>First name:</strong> John</p>
        <p><strong>Last name:</strong> Doe</p>
        <p><strong>Email:</strong> admin@itlearning.ddns.net</p>
        <p>
          <strong>Address:</strong> 702 Nguyen Van Linh Street, Tan Hung Ward,
          District 7
        </p>
        <p><strong>City:</strong> Ho Chi Minh City</p>
        <p><strong>Country:</strong> Vietnam</p>
        <p><strong>Zipcode:</strong> 70000</p>
        <p><strong>Phone:</strong> 02837761300</p>
      </div>
    </div>
  </main>
</div> -->

<div id="learner-info"></div>
