<!-- just need to fetch once: getAllBoughtCourse by learnerID  -->

<!-- Display all bought course in a row -->
<section id="display-bought-courses">
  <h1>All of my bought courses</h1>

  <div id="bought-course-item">
    <h2 id="course-name">Course Name</h2>

    <img
      id="thumbnail-image"
      src="https://picsum.photos/seed/fp7Tc/640/480"
      alt="sample image"
    />
  </div>
</section>

<!-- Display “learning/on progress” course in a row -->

<section id="display-learning-coures">
  <div id="learning-course-item">
    <h2 id="course-name">Course Name</h2>

    <img
      id="thumbnail-image"
      src="https://picsum.photos/seed/fp7Tc/640/480"
      alt="sample image"
    />
    <h3 id="learning-progress">Progress: 50%</h3>
  </div>
</section>

<!-- Display all completed course in a row -->
<section id="display-completed-courses">
  <div id="completed-course-item">
    <h2 id="course-name">Course Name</h2>

    <img
      id="thumbnail-image"
      src="https://picsum.photos/seed/fp7Tc/640/480"
      alt="sample image"
    />
    <h3 id="completion-date">Completetion Date: 06-08-2024</h3>
  </div>
</section>

<!-- Display all certificate in a row -->

<section id="display-cert">
  <div id="cert-item">
    <img id="IT-learning-logo" src="" alt="" />
    <h1>Completion Certificate</h1>
    <h4>has been presented to</h4>
    <h2 id="learnerName">Learner's name</h2>
    <h4>on 08-06-2024 (completion-date)</h4>
    <h2>to the Course of <span id="course name">Course Name</span></h2>
  </div>
</section>
