<div class="my-courses">
	<div class="on-going">
		<h1 class="tab-title">On-going courses</h1>
		<div class="courses" id="on-going-courses">
			<button id="missing-on-going-btn" hidden>You do not have any on-going course. Buy or try one now!</button>
		</div>
	</div>

	<hr />

	<div class="all">
		<h1 class="tab-title">All courses</h1>
		<div class="courses" id="all-courses">
			<button id="missing-all-btn" hidden>You do not have any course. Buy or try one now!</button>
		</div>
	</div>

	<hr />
	
	<div class="finished">
		<h1 class="tab-title">Finished courses</h1>
		<div class="courses" id="finished-courses">
			<button id="missing-finished-btn" hidden>You have not finished any course. Keep going!</button>
		</div>
	</div>

	<hr />

	<div class="certificate">
		<h1 class="tab-title">Certificates</h1>
		<div class="courses" id="certificates">
			<button id="missing-certificate-btn" hidden>You do not have any certificate. Finish the course or buy right to get certificate!</button>
		</div>
	</div>
</div>
