.tab-title {
	font-size: 250%;
}

.my-courses {
	font-size: 120%;
}


.on-going, .all, .finished, .certificate {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.courses {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3% 0;
	width: 100%;
}

.courses button {
	width: max-content;
}


.course-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.course-card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.course-card {
	width: 33%;
}

.course-card-image {
	display: flex;
	justify-content: center;
}

.course-card-image img {
	width: 95%;
}


.course-card-image, .course-card-content {
	cursor: pointer;
}