<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resources</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container flex flex-1">

    <!-- Include Sidebar Component -->
    <div id="sidebar" class="bg-gray-800 h-screen w-16">
        <ul>
            <li class="mb-6 sidebar-item">
                <a href="/instructors/home" class="text-white flex items-center">
                    <img src="/img/graduate.png" class="icon" alt="Courses Icon">
                    <span class="text">Courses</span>
                </a>
            </li>
            <li class="mb-6 sidebar-item">
                <a href="/instructors/communication" class="text-white flex items-center">
                    <img src="/img/comment.png" class="icon" alt="Communication Icon">
                    <span class="text">Communication</span>
                </a>
            </li>
            <li class="mb-6 sidebar-item">
                <a href="/instructors/performance" class="text-white flex items-center">
                    <img src="/img/statistics.png" class="icon" alt="Performance Icon">
                    <span class="text">Performance</span>
                </a>
            </li>
            <li class="mb-6 sidebar-item">
                <a href="/instructors/tools" class="text-white flex items-center">
                    <img src="/img/wrench.png" class="icon" alt="Tools Icon">
                    <span class="text">Tools</span>
                </a>
            </li>
            <li class="mb-6 sidebar-item">
                <a href="/instructors/resources" class="text-white flex items-center">
                    <img src="/img/question.png" class="icon" alt="Resources Icon">
                    <span class="text">Resources</span>
                </a>
            </li>
        </ul>
    </div>
    
    <main class="content">
      <h1>Resources</h1>
      <div class="cards">
        <div class="card">
          <div class="icon"></div>
          <h2>Teaching Center</h2>
          <p>Find articles on Udemy teaching — from course creation to marketing.</p>
        </div>
        <div class="card">
          <div class="icon"></div>
          <h2>Instructor Community</h2>
          <p>Share your progress and ask other instructors questions in our community.</p>
        </div>
        <div class="card">
          <div class="icon"></div>
          <h2>Help and Support</h2>
          <p>Can't find what you need? Our support team is happy to help.</p>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
