<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin profile</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
</head>

<body>
    <div style="height: 100%;">
        <nav class="bg-gray-800 text-white p-4 flex justify-between items-center">
            <a href="/admin/profile" class="text-2xl font-bold">Admin Profile</a>
            <div class="management-dropdown">
                <button class="text-2xl font-bold">Admin Management</button>
                <div class="dropdown-content absolute right-0 w-48 bg-white text-black shadow-lg rounded">
                    <a href="/admin/management/learners" class="px-4 py-2 text-lg hover:bg-gray-100">Learners</a>
                    <a href="/admin/management/instructors" class="px-4 py-2 text-lg hover:bg-gray-100">Instructors</a>
                    <a href="/admin/management/courses" class="px-4 py-2 text-lg hover:bg-gray-100">Courses</a>
                </div>
            </div>
            <a href="/admin/dashboard" class="text-2xl font-bold">Admin Dashboard</a>
        </nav>

        <div class="profile-page">
            <div class="profile-header">
                <div class="text-6xl font-semibold mt-8">Update course</div>
            </div>

            <div class="profile-content">
                <div class="data">
                    <label>Name: </label>
                    <input type="text" id="name" required>
                </div>
                <div class="data">
                    <label>Category: </label>
                    <input type="text" id="category" required>
                </div>
                <div class="data">
                    <label>price: </label>
                    <input type="number" id="price" required>
                </div>
                <div class="data">
                    <label>Description: </label>
                    <textarea type="text" id="description" required></textarea>
                </div>
                <div class="data">
                    <label>Public: </label>
                    <input type="checkbox" id="public" required>
                </div>
                <div class="update-btn">
                    <button onclick="updateCourse()">Update</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>