<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
</head>

<body>
    <div>
        <div class="admin-nav">
            <div>
                <a href="/admin/profile" class="">
                    <span class="text-4xl">Admin Profile</span>
                </a>
            </div>
            <div class="management-dropdown">
                <button class="text-4xl font-bold">Admin Management</button>
                <div class="dropdown-content">
                    <a href="/admin/management/learners" class="text-4xl">Learners</a>
                    <a href="/admin/management/instructors" class="text-4xl">Instructors</a>
                    <a href="/admin/management/courses" class="text-4xl">Courses</a>
                    <a href="/admin/management/memberships" class="text-4xl">Memberships</a>
                </div>
            </div>
            <div>
                <a href="/admin/dashboard" class="">
                    <span class="text-4xl">Admin Dashboard</span>
                </a>
            </div>
        </div>
        <div>
            <div class="management-header">Instructors management</div>
            <table class="management-table">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="instructorsTable"></tbody>
            </table>
        </div>
    </div>

    <script src="/js/admin/dashboard.js"></script>
</body>


</html>