/* General Header Styles */
#logo {
    width: 80px;
}

.icon img {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    cursor: pointer;
}

#user-avatar-container {
    position: relative;
    margin-left: 15px;
}

#user-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
}

#user-avatar-container:hover .dropdown-menu {
    display: block;
}

.search-and-log-out {
    display: flex;
    align-items: center;
}

#login-btn {
    margin-left: 15px;
    background-color: rgb(181, 63, 255);
    color: white;
}

#signup-btn {
    margin-left: 10px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    color: black;
}

@media (max-width: 1200px) {

    .navbar-nav {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .nav-bar {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
        margin-right: 10px;
    }

    .show {
        display: block !important;
    }

    #logo {
        margin-left: 10px;
    }

    .search-and-log-out {
        flex-direction: row;
    }

    .icon img {
        margin: 0;
        margin-right: 10px;
    }
}
