#logo {
    width: 80px;
}

.icon img {
    width: 15px; 
    height: 15px; 
    margin-left: 15px; 
    cursor: pointer;
}

#user-avatar-container {
    position: relative;
    margin-left: 15px; /* Add spacing between avatar and icons */
}

#user-avatar {
    width: 40px;  /* Adjust avatar size */
    height: 40px;
    object-fit: cover;
    cursor: pointer;
}

#user-avatar-container:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}

.search-and-log-out {
    display: flex;
    align-items: center;
}

#login-btn {
    margin-left: 15px;
    background-color: rgb(181, 63, 255);
    color: white;
}

#signup-btn {
    margin-left: 10px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    color: black;
}
